.TD{
  width:70%;
  margin:10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding:0 2rem;
  color:black;
  font-size:1rem;
}

.TD > div{
 min-width:100px;
}
